<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>

<body>
    <h1>자유게시판 검색 결과</h1>
    <form action="/freeboard/search" method="get">
        <input type="text" name="keyword" placeholder="제목 검색" th:value="${keyword}" />
        <button type="submit">검색</button>
    </form>
    <button onclick="saveReq()">글작성</button>

    <table border="1">
        <tr>
            <th>번호</th>
            <th>태그</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>추천</th>
        </tr>
        <tr th:each="freeboard: ${freeBoardList.content}">
            <td th:text="${freeboard.seq}"></td>
            <td th:text="${freeboard.tag}"></td>
            <td><a th:href="@{|/freeboard/${freeboard.seq}|}" th:text="${freeboard.title}"></a></td>
            <td th:text="${freeboard.nickname}"></td>
            <td th:text="${#temporals.format(freeboard.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${freeboard.views}"></td>
            <td th:text="${freeboard.likeCount}"></td>
        </tr>
    </table>

    <!-- 첫 페이지로 이동 -->
    <a th:href="@{/freeboard/search(keyword=${keyword}, page=0)}" th:if="${freeBoardList.hasPrevious()}">First</a>

    <!-- 이전 페이지 링크 -->
    <a th:if="${freeBoardList.hasPrevious()}" th:href="@{/freeboard/search(keyword=${keyword}, page=${freeBoardList.number - 1})}">Prev</a>
    <span th:if="${!freeBoardList.hasPrevious()}">Prev</span>

    <!-- 페이지 번호 링크 -->
    <span th:each="page : ${#numbers.sequence(0, freeBoardList.totalPages - 1)}">
        <a th:href="@{/freeboard/search(keyword=${keyword}, page=${page})}" 
           th:text="${page + 1}" 
           th:classappend="${page == freeBoardList.number ? 'current' : ''}"></a>
    </span>

    <!-- 다음 페이지 링크 -->
    <a th:if="${freeBoardList.hasNext()}" th:href="@{/freeboard/search(keyword=${keyword}, page=${freeBoardList.number + 1})}">Next</a>
    <span th:if="${!freeBoardList.hasNext()}">Next</span>

    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/freeboard/search(keyword=${keyword}, page=${freeBoardList.totalPages - 1})}" th:if="${freeBoardList.hasNext()}">Last</a>

    <br />
    <a href="/freeboard/save">글작성</a>
    <a href="/user/logout">로그아웃</a>
    <a href="/user/main">메인으로</a>
    <a href="/">홈으로</a>

</body>
<script>
    const saveReq = () => {
        location.href = "/freeboard/save";
    }
</script>

</html>
