<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <div class="user-borad">
        <span>유저</span>
        <div class="user-content">
            <p>프로필</p>
            <p>쪽지보내기</p>
        </div>
    </div>
    <!-- Main Content -->
    <main>
      <p>임시 메인페이지</p>
      <p><a href="/shop/addshop">addshop</a></p>
      <p><a href="/shop/shoplist">shoplist</a></p>
    </main>

</body>
</html>
