<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop List</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
		.product-img{
			max-width: 300px;
			max-height: 100px;
			object-fit: cover;
		}
	</style>
</head>
<body>
    <h1>목록</h1>
    <form method="get" action="/shop/shoplist">
        <input type="text" name="keyword" placeholder="Search" value="입력하세요">
        <button type="submit">검색하기</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>이미지</th>
                <th>상품명</th>
                <th>판매자</th>
                <th>가격</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="shop:${shops}">
                <td>
                    <a th:href="@{/shop/{nom}(nom=${shop.nom})}">
                        <img class="product-img" th:src="@{${shop.imageUrls[0]}}" alt="Product Image">
                    </a>
                </td>
                <td th:text="${shop.name}"></td>
                <!--<td th:text="${user.nickname}"></td>-->
                <td th:text="${shop.price}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--로그인여부-->
    <div th:if="${user !=null}">
	    <a href="/shop/addshop">판매상품 등록하기</a><br>
    </div>
    <div th:if="${user ==null}">
		<span>로그인 이후 사용가능합니다.</span><br>
    </div>
    <!--로그인 상관없음
	<a href="/shop/addshop">판매상품 등록하기</a><br>-->
    <button onclick="history.back()">돌아가기</a>
</body>
</html>
